apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-backend
  namespace: project-a1
spec:
  replicas: 1
  selector:
    matchLabels:
      app: fastapi-backend
  template:
    metadata:
      labels:
        app: fastapi-backend
    spec:
      containers:
        - name: fastapi
          image: nginx:1.25
          ports:
            - containerPort: 80
