apiVersion: apps/v1
kind: Deployment
metadata:
  name: fastapi-backend
  namespace: project-a1
spec:
  replicas: 2
  selector:
    matchLabels:
      app: fastapi-backend
  template:
    metadata:
      labels:
        app: fastapi-backend
    spec:
      containers:
        - name: fastapi
          image: ghcr.io/liamParkDev/project-a1-backend:latest  # TODO: 나중에 네 이미지로 교체
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8000
          env:
            - name: TZ
              value: "Asia/Seoul"
          readinessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 5
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /health
              port: 8000
            initialDelaySeconds: 10
            periodSeconds: 20
